body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board {
  display: grid;
  grid-template-rows: repeat(20, calc(25vw / 10));
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  border: 2px solid #333;
  width: 100%;
  max-width: 25vw;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  background-color: rgba(191, 191, 191, 0.4);
  width: 100vw;
  height: 100vh;
}

.game-over-text {
  background-color: #909090;
  border-radius: 20px;
  width: 575px;
}

.game-over-text h1 {
  font-size: 90px;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}

.next-block-board {
  display: grid;
  grid-template-rows: repeat(4, 20px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 50%;
  margin-bottom: 19px;
}

.next-block-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  align-items: center;
  margin: 20px 0 20px 0;
  min-height: 150px;
  border-radius: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
}

.score-container p {
  font-weight: bold;
}

.side-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border: 2px solid #333;
  border-left: 0px;
}

.tetris-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 900px;
  max-height: 900px;
}

.tetris-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
