body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffb35c;
}

.board {
  display: grid;
  grid-template-rows: repeat(20, calc(20vw / 10));
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  border: 2px solid #333;
  width: 100%;
  max-width: 20vw;
  background-color: white;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  background-color: rgba(191, 191, 191, 0.4);
  width: 100vw;
  height: 100vh;
}

.game-over-text {
  background-color: #909090;
  border-radius: 20px;
  width: 575px;
}

.game-over-text h1 {
  font-size: 90px;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}

.games-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.games-container img {
  border-radius: 20px;
}
.games-container a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.go-back {
  position: absolute;
  border: 3px solid white;
  padding: 7px;
  margin: 15px 0 0 20px;
  border-radius: 50px;
}

.go-back a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
}

.home-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.home-title {
  border: 4px solid white;
  width: 350px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 20px;
}

.home-title h1 {
  margin: 10px 0 10px 0;
}

.home-title h3 {
  margin: 10px 0 10px 0;
}

.legend-container {
  border-top: 2px solid #333;
}

.legend-container h4 {
  margin: 20px 0 20px 0;
}

.legend-container li {
  padding: 0 0 3px 0;
}

.legend-container ul {
  list-style-type: none;
  padding: 0;
}

.left-profile-container {
  margin-right: 25px;
}

.left-profile-container img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid white;
}

.mission-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mission-container h1 {
  text-align: center;
}

.mission-container p {
  font-size: 1.1em;
  font-weight: bold;
}

.more-games-message {
  margin-top: 50px;
  font-weight: bold;
}

.next-block-board {
  display: grid;
  grid-template-rows: repeat(4, 20px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 50%;
  margin-bottom: 19px;
}

.next-block-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  align-items: center;
  margin: 20px 0 20px 0;
  min-height: 150px;
  border-radius: 20px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.right-profile-container {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.right-profile-container h3 {
  margin-bottom: 0;
  text-align: center;
}

.score-container {
  display: flex;
  flex-direction: column;
}

.score-container p {
  font-weight: bold;
  margin-top: 0;
}

.side-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border: 2px solid #333;
  border-left: 0px;
  background-color: white;
}

.social-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}

.social-container img {
  width: 30px;
  height: 30px;
  padding: 0 10px 0 10px;
}

.start-game-message {
  text-align: center;
}

.tetris-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 40px 20px 40px;
  margin: 0 auto;
  max-width: 900px;
  margin-bottom: 20px;
  text-align: center;
}

.tetris-icon {
  border: 3px solid black;
  padding: 15px 15px 0 15px;
  border-radius: 20px;
  background-color: white;
}

.tetris-icon p {
  font-weight: bold;
}

.tetris-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
